# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# OS-filer
.DS_Store
Thumbs.db

# Logs
*.log

# Temp
*.tmp
*.bak
*.swp
*.swo

# Build tools
build/
out/

# VS Code (hvis du bruger det på et tidspunkt)
.vscode/

# Spring Boot Devtools
.spring-boot-devtools.properties

# Tests
test-output/

# Dependency caches
**/.classpath
**/.project
**/.settings

# Undgå at pushe sensitive configs
src/main/resources/application.properties